.tile
{
	/* DEBUG */
	font-size: 10px;
	font-family: serif;
	text-align: center;
	color: rgb(30, 39, 38);	
}

.tile_visibility_fog
{
	opacity: 0.6;
}

.tile_action_fog
{
	opacity: 0.6;
}

.tile_selected
{
	background: url("Images/hex_selected.png") no-repeat !important;
}
