.tile_highlight
{
	position: absolute;
	width: 64px;
	height: 64px;
	
	background-size: 100% 100%;
}

.tile_highlight_move
{
	background: url("Images/TileHighlight/hex_move.png") no-repeat;
}

.tile_highlight_attack
{
	background: url("Images/TileHighlight/hex_attack.png") no-repeat;
}