#RuntimeStats, #RuntimeStatsButton
{
	color: white;
	position: absolute;
	top: 2px;
	left: 8px;
	text-align: left;
	z-index: 999;
	
	background: rgba(22, 26, 26, 0.88);
	border-radius: 8px;
	padding: 8px;
}

#AnimationInfoTool
{
	color: white;
	position: absolute;
	top: 2px;
	right: 8px;
	text-align: left;
	z-index: 999;
	
	background: rgba(22, 26, 26, 0.88);
	border-radius: 8px;
	padding: 8px;
	
	display: none;
}

#AnimationsList
{
	width: 250px;
	margin-bottom: 8px;
}

#AnimationsList option[disabled]
{
	background-color: lightblue;
}

#TbAnimationInfo
{
	width: 50px;
}