#UnitPropsEditorContainer, #GamePropsEditorContainer
{
	width: 320px;
	height: 400px;
}

#UnitPropsEditorContainer > table td:nth-child(1), #GamePropsEditorContainer > table td:nth-child(1)
{
	text-align: right;
	width: 150px;
}
#UnitPropsEditorContainer > table td:nth-child(2), #GamePropsEditorContainer > table td:nth-child(2)
{
	text-align: left;
	width: 150px;
}

#UnitPropsEditorContainer input[type="text"], 
#GamePropsEditorContainer input[type="text"]
{
	width: 120px;
}

#UnitPropsEditorContainer input[type="number"], 
#GamePropsEditorContainer input[type="number"]
{
	width: 30px;
}

#UnitPropsEditorContainer select, 
#GamePropsEditorContainer select
{
	width: 75px;
}