#UnitPropsEditorContainer, #GamePropsEditorContainer
{
	width: 320px;
	height: 400px;
}


.editor_props_container > table td:nth-child(1)
{
	text-align: right;
	width: 150px;
}
.editor_props_container > table td:nth-child(2)
{
	text-align: left;
	width: 150px;
}
.editor_props_container > table th
{
	text-align: center;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-radius: 12px;
}

.editor_props_container input[type="text"]
{
	width: 120px;
}

.editor_props_container input[type="number"]
{
	width: 30px;
}

.editor_props_container select
{
	width: 75px;
}