#StoreContainer
{
	margin-top: 40px;
}

#SelStoreList
{
	margin: 8px 0px;
}

#StoreList td,
#StoreList th
{
	text-align:right;
	vertical-align: baseline;
	padding: 2px;
}

#StoreList td + td,
#StoreList th + th
{
	text-align:left;
}

#GameToolbar
{
	display: none;
	
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	
	z-index: 100;
	
	text-align: center;
}

#LbCredits
{
	border: 4px ridge #FFDB1A;
	border-radius: 6px;
	background-color: #083B40;
	color: #E2D747;
	padding: 4px;
	
	min-width: 40px;
	text-align: right;
	
	display: inline-block;
	margin: 4px 0px;
	text-align: center;
}

.game_scene_plot
{
	background-color: rgb(36, 30, 19);
}