#StoreContainer
{
	margin-top: 40px;
}

#SelStoreList
{
	margin: 8px 0px;
}

#StoreList td,
#StoreList th
{
	text-align:right;
	vertical-align: baseline;
	padding: 2px;
}

#StoreList td + td,
#StoreList th + th
{
	text-align:left;
}

#BtnGameMenuContainer
{
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	
	/*z-index: 100;*/
	
	text-align: center;
	
	pointer-events: none;
}

#BtnGameMenuContainer *
{
	pointer-events: auto;
}


.in_game_toolbar
{
	display: none;
	
	/*z-index: 100;*/
	
	text-align: center;
	
	pointer-events: none;

}

.in_game_toolbar *
{
	pointer-events: auto;
}

#PlayerCreditsContainer, #BtnAIFastForward
{
	position: absolute;
	left: 0px;
	bottom: 0px;
	
	color: white;
	text-align: left;
	
	background-image: url('UI/Elements/Credits_HUD.png');
	width: 107px;
	height: 74px;
}

#PlayerCreditsContainer > div
{
	position: relative;
	top: 10px;
	left: 5px;
}

#LbPlayerName, #LbAIName
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	
	width: 172px;
	height: 32px;
	margin: auto;
	
	color: white;
	text-align: center;
	line-height: 40px;
	
	background-image: url('UI/Elements/Player_name_HUD.png');
}

#BtnGameNextTurn
{
	position: absolute;
	right: 0px;
	bottom: 0px;
	
	background-image: url('UI/Elements/End_turn_HUD.png');
	width: 107px;
	height: 74px;
	
	color: white;
	text-align: center;
}

#BtnGameNextTurn span
{
	position: relative;
	top: 10px;
	left: 6px;
}


#BtnAIFastForward > span
{
	position: relative;
	top: 10px;
	left: 5px;
}

#BtnAIWaiting
{
	position: absolute;
	right: 0px;
	bottom: 0px;
	
	background-image: url('UI/Elements/End_turn_HUD.png');
	width: 107px;
	height: 74px;
	
	color: white;
	text-align: center;
}

#BtnAIWaiting span
{
	position: relative;
	top: 10px;
	left: 6px;
}

#AIToolbarDebug
{
	position: absolute;
	bottom: 20px;
	left: 0px;
	right: 0px;
}

#LbAICredits
{
	border: 4px ridge #FFDB1A;
	border-radius: 6px;
	background-color: #083B40;
	color: #E2D747;
	padding: 4px;
	
	min-width: 40px;
	text-align: right;
	
	display: inline-block;
	text-align: center;
}

.game_scene_plot
{
	background-color: rgb(36, 30, 19);
}


.stats_table {
	margin: 12px auto;
	border-collapse: collapse;
}

.stats_table td:nth-child(1) {
	text-align: right;
	width: 160px;
}

.stats_table td:nth-child(2) {
	text-align: left;
	width: 150px;
	padding-left: 8px;
}

/* Stats formatting */
.stat_unit_AttackLight > td
{
	padding-top: 10px;
}

.stat_unit_AttackRange > td
{
	padding-bottom: 10px;
}


/* Unit type value, check with the enum. */
.stat_unit_type_0
{
	color: #C9DAF8;
}
			
.stat_unit_type_1
{
	color: #DD7E6B;
}
			
.stat_unit_type_2
{
	color: #F1C232;
}

.player_not_playing
{
	color: gray;
}

#GameStateInfoPlayersTable
{
	width: 300px;
	margin: auto;
	border-collapse: collapse;
}

#GameStateInfoPlayersTable th
{
	border: 2px cadetblue solid;
	background-color: rgba(10, 74, 74, 0.87);
}

#GameStateInfoPlayersTable td
{
	border: 2px cadetblue solid;
	background-color: rgba(24, 35, 35, 0.47);
}


#TurnChanged
{
	background-color: rgba(24,28,37,0.95);

}

#TurnChangedPlayerLable
{
	margin-top: 125px;
}



#GameMenu.dialog_blocker
{
	background-color: initial;
}

#GameMenu .dialog_buttons button
{
	display: block;
	margin: 12px auto;
	width: 120px;
	height: 35px;
}

#GameMenuContainer
{
	background-image: url('UI/Elements/Game-Menu-Frame.png');
	width: 235px;
	height: 281px;
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	
	margin: auto;
	
	text-align: center;
	color: white;
}

#GameMenuGroup1, #GameMenuGroup2
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: auto;
}

#GameMenuGroup1 .btn_generic_wide, #GameMenuGroup2 .btn_generic_wide
{
	margin: 8px auto;
}

#GameMenuGroup2
{
	top: 137px;
}

#GameMenuGroup3
{
	position: absolute;
	top: 249px;
	left: 52px;
	right: 52px;
}
