#StoreContainer
{
	margin-top: 40px;
}

#SelStoreList
{
	margin: 8px 0px;
}

#StoreList td,
#StoreList th
{
	text-align:right;
	vertical-align: baseline;
	padding: 2px;
}

#StoreList td + td,
#StoreList th + th
{
	text-align:left;
}

#GameToolbar
{
	display: none;
	
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	
	z-index: 100;
	
	text-align: center;
	
	pointer-events: none;

}

#GameToolbar *
{
	pointer-events: auto;
}

#LbCredits
{
	border: 4px ridge #FFDB1A;
	border-radius: 6px;
	background-color: #083B40;
	color: #E2D747;
	padding: 4px;
	
	min-width: 40px;
	text-align: right;
	
	display: inline-block;
	margin: 4px 0px;
	text-align: center;
}

.game_scene_plot
{
	background-color: rgb(36, 30, 19);
}


.stats_table {
	margin: 12px auto;
	border-collapse: collapse;
}

.stats_table td:nth-child(1) {
	text-align: right;
	width: 160px;
}

.stats_table td:nth-child(2) {
	text-align: left;
	width: 150px;
	padding-left: 8px;
}

/* Stats formatting */
.stat_unit_AttackLight > td
{
	padding-top: 10px;
}

.stat_unit_AttackRange > td
{
	padding-bottom: 10px;
}


/* Unit type value, check with the enum. */
.stat_unit_type_0
{
	color: #C9DAF8;
}
			
.stat_unit_type_1
{
	color: #DD7E6B;
}
			
.stat_unit_type_2
{
	color: #F1C232;
}

.player_not_playing
{
	color: gray;
}

#GameStateInfoPlayersTable
{
	width: 300px;
	margin: auto;
	border-collapse: collapse;
}

#GameStateInfoPlayersTable th
{
	border: 2px cadetblue solid;
	background-color: rgba(10, 74, 74, 0.87);
}

#GameStateInfoPlayersTable td
{
	border: 2px cadetblue solid;
	background-color: rgba(24, 35, 35, 0.47);
}


#TurnChanged
{
	background-color: rgba(24,28,37,0.95);

}

#TurnChangedPlayerLable
{
	margin-top: 20%;
}