#MenuScreen
{
	background: url('UI/MainMenu-Background.jpg') right bottom;
	background-size: cover;
}

#MenuScreen h1
{
	margin: 0.4em auto;
}

#MenuScreen h2
{
	margin: 0.3em auto;
}

#MenuScreen h3
{
	margin: 0.2em auto;
}

#MainMenu button
{
	display: block;
	margin: 1em auto;
}

.alone
{
	display: block;
	margin: 0.5em auto;
}

.game_slot_entry
{
	margin: 8px auto;
	width: 280px;
	padding: 4px;
	
	border: 2px cadetblue solid;
	border-radius: 8px;
	background-color: rgba(24, 35, 35, 0.47);
	
	overflow: hidden;
	position: relative;
}

.game_slot_entry h3
{
	margin: 0px auto 4px auto;
	font-size: 1em;
	white-space: nowrap;
}

.game_slot_entry_date_played
{
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 0.72em;
}

.game_slot_entry_desc
{
	font-size: 0.85em;
	white-space: nowrap;
}

#SkirmishMapSelectName
{
	margin-top: 0px !important;
	position: relative;
}

#SkirmishMapSelectCustomMap
{
	position: relative;
	font-size: 0.7em;
	font-weight: bold;
	display: none;
}

#SkirmishMapSelectPreview
{
	position: relative;
	border: 2px cadetblue solid;
	border-radius: 8px;
	background-color: rgba(24, 35, 35, 0.47);
	width: 300px;
	height: 250px;
	margin: auto;
}

#SkirmishMapSelectInfo
{
	width: 300px;
}
#SkirmishMapSelectPrev
{
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#SkirmishMapSelectPlay
{
	position: absolute;
	bottom: 0px;
	width: 74px;
	margin-left: -37px;
}

#SkirmishMapSelectNext
{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#GameWorldMapPreview
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}