.placeable
{
	
}

.unit_health_loss
{
	color: rgb(213, 19, 19);
	float: right;
}

.unit_health, .unit_health_damage
{
	color: rgb(139, 247, 239);
	
}

.asset-scale-2 .unit_health
{
	left: 18px;
}

.asset-scale-3 .unit_health
{
	left: 26px;
}

/* HACK: Scaling the text fixes outline issues (flickering) on moving texts (floating), due to dpr scaling. */
.statistics_text_container
{
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

.statistics_text
{
	font-size: 18px;
	font-family: Arial;
	font-weight: bold;
	
	z-index: 100;
}
