
/* HACK: Scaling the text fixes outline issues (flickering) on moving texts (floating), due to dpr scaling. */
/* NOTE: This is not a full fix! Flickering still exists and might be different in different phones. */
/*		 Probably the best solution is to zoom-out the browser default zoom, so all pixel lines are rendered properly. :( */
.floating_text_container
{
	-webkit-transform: translate(-50%, -50%) scale(0.8);
	-moz-transform: translate(-50%, -50%) scale(0.8);
	-ms-transform: translate(-50%, -50%) scale(0.8);
	-o-transform: translate(-50%, -50%) scale(0.8);
	transform: translate(-50%, -50%) scale(0.8);
}

.floating_text
{
	text-align: center;
	
	position: relative;
}

.floating_text_intent_positive
{
	color: rgb(22, 221, 22);
}

.floating_text_intent_neutral
{
	color: rgb(221, 189, 25);
}

.floating_text_intent_negative
{
	color: rgb(213, 19, 19);
}